body,
button,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
  font-family: Open sans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  outline: none;
  list-style: none; }

h1,
h2,
h3,
h4,
a {
  font-family: Poppins, sans-serif;
  font-weight: bold; }

a {
  text-decoration: none;
  color: #fff; }

button {
  border: none;
  cursor: pointer; }

.header {
  background-color: #008aff;
  border-bottom-left-radius: 200px; }
  .header__top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1460px;
    height: 120px;
    padding: 0 140px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .header__logo {
    width: 60px;
    height: 28px; }
  .header__bottom {
    height: 680px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 140px;
    margin: auto; }

@media (max-width: 1024px) {
  .header__top {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__bottom {
    padding-left: 50px;
    display: block; } }

.nav {
  margin-left: 7%;
  width: 100%; }
  .nav__list {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none; }
  .nav__item {
    position: relative;
    margin-right: 6%; }
  .nav__item-action {
    margin-right: 0;
    margin-left: auto; }
  .nav__item:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 22px;
    left: 0;
    background: #ff9c8e;
    border-radius: 4px; }

@media (max-width: 1024px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px; }
    .nav__item {
      margin: 0; } }

.header-info {
  max-width: 380px;
  color: #fff;
  padding-top: 120px; }
  .header-info__heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    margin-bottom: 32px; }
  .header-info__text {
    font-size: 18px;
    margin: 0 0 80px; }

.button {
  background-color: #ff9c8e;
  color: #fff;
  border-radius: 64px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }
  .button__info {
    width: 230px;
    height: 50px; }
  .button:active {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    -webkit-filter: saturate(150%);
            filter: saturate(150%); }
  .button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.slider {
  position: relative;
  background: url(../images/slider/slide-img-4.png) no-repeat center;
  background-size: cover;
  border-top-left-radius: 200px;
  padding-left: 50px;
  color: #fff; }
  .slider__button {
    position: absolute;
    bottom: 65px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .slider__button:active {
      -webkit-transform: translateY(1px);
              transform: translateY(1px);
      -webkit-filter: saturate(150%);
              filter: saturate(150%); }
    .slider__button:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .slider__button-right {
    left: 90px; }
  .slider__arrow {
    width: 6px;
    height: 9px; }
  .slider__heading {
    position: absolute;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    bottom: 96px;
    left: 145px; }
  .slider__text {
    position: absolute;
    font-size: 14px;
    line-height: 140%;
    width: 264px;
    bottom: 40px;
    left: 145px; }

@media (max-width: 1024px) {
  .slider {
    display: none; } }

.about {
  margin: 150px auto;
  max-width: 750px; }
  .about__heading {
    font-weight: 600;
    font-size: 32px;
    color: #253757;
    margin: 0 0 16px; }
  .about__text {
    font-weight: 600;
    font-size: 24px;
    color: #6c788b; }

@media (max-width: 1024px) {
  .about {
    padding: 0 20px;
    text-align: center; } }

.expertise {
  background-color: #fff;
  padding: 10px; }
  .expertise__container {
    max-width: 1100px;
    margin: 140px auto; }
  .expertise__heading {
    text-align: center;
    margin: 0 0 64px;
    font-weight: 600;
    font-size: 52px;
    color: #253757; }
  .expertise__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

@media (max-width: 1024px) {
  .expertise__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 265px; }
  .direction__picture {
    border-radius: 15%;
    width: 165px;
    height: 165px;
    margin-bottom: 40px; }
  .direction__heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
    margin: 0 0 16px; }
  .direction__text {
    font-size: 14px;
    text-align: center;
    color: #6c788b;
    margin: 0; }

@media (max-width: 1024px) {
  .direction {
    margin-bottom: 60px; } }

.process {
  margin: 140px auto 0;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .process__process-info {
    max-width: 340px;
    padding-top: 100px; }
  .process__cards {
    max-width: 700px;
    display: grid;
    grid-template-rows: repeat(2, 264px);
    grid-template-columns: repeat(2, 264px);
    grid-gap: 30px; }

@media (max-width: 1024px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .process__process-info {
    margin-bottom: 60px; } }

@media (max-width: 1024px) {
  .process__cards {
    grid-template-columns: 1fr; } }

.process-info__title {
  display: block;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
  margin-bottom: 16px; }

.process-info__heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #253757;
  margin-bottom: 24px; }

.process-info__text {
  font-size: 14px;
  color: #6c788b; }

@media (max-width: 1024px) {
  .process-info {
    padding: 20px; } }

.card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 12%;
  padding: 32px; }
  .card_offset {
    margin-top: 90px; }
  .card__heading {
    width: 46px;
    margin-bottom: 24px;
    border-radius: 23px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase; }
  .card__heading_1 {
    color: #56ccf2;
    background-color: rgba(86, 204, 242, 0.1); }
  .card__heading_2 {
    color: #fcc91d;
    background-color: rgba(252, 201, 29, 0.1); }
  .card__heading_3 {
    color: #15d850;
    background-color: rgba(21, 216, 80, 0.1); }
  .card__heading_4 {
    color: #f36363;
    background-color: rgba(243, 99, 99, 0.1); }
  .card__text {
    font-weight: 600;
    color: #6c788b;
    margin-bottom: 32px; }
  .card__learn-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .card__button:active {
      -webkit-transform: translateY(1px);
              transform: translateY(1px);
      -webkit-filter: saturate(150%);
              filter: saturate(150%); }
    .card__button:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .card__button_1 {
    background-color: #56ccf2; }
  .card__button_2 {
    background-color: #fcc91d; }
  .card__button_3 {
    background-color: #15d850; }
  .card__button_4 {
    background-color: #f36363; }
  .card__arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  .card__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #334563; }

@media (max-width: 1024px) {
  .card {
    margin: 0; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none; }

body {
  background-color: #f2f9ff; }

/*# sourceMappingURL=main.css.map */
